<doctype html>
<html>

  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>

      <body class = body_intro>
  <div class = "intro_description"> 

     <p class = "intro_title">CLUSTERFY <img src="/static/logo.png"/></p>
    
</div>

<div>

<div class = "banner">

    <img class = "banner_image" src="/static/bg4.jpg"/>

</div>

  <h1 class = "final_page_title">Your Playlist Is Uploaded!</h1>


<div
	<body>
    <a class = "start_over_button" href="/auth">Make Another Playlist</a>
</body>
</div>
<body />

	

</html>