<doctype html>
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">

<html>


  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>

<body class = body_intro>

<div class = "intro_description"> 

	 <a class = "intro_title" href="/">CLUSTERFY <img src="/static/logo.png"/></a>
	
</div>

<div>

<div class = "banner">

	<img class = "banner_image" src="/static/bg4.jpg"/>

</div>

	<div class = subtitle> Create Personalised Playlists and Discover <br /> New Music You Will Love </div>


	<a class = "intro_start_button" href="/auth"> <span class="login_text">Sign in with Spotify</span><img class = p_images src = "/static/spotify_icon.png"/></a>
	<a class = "info_link" href="/info">What is this?</a>


</div>

<div>

</div>


</body>

</html>