<doctype html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>

    <body class = body_intro>
  <div class = "intro_description"> 

   <a class = "intro_title" href="/">CLUSTERFY <img src="/static/logo.png"/></a>

    
</div>

<div>

<div class = "banner">

    <img class = "banner_image" src="/static/bg4.jpg"/>

</div>

<div>


    <a class = "intro_start_button1" href="/callback/qplaylist"> 

    	<b class = "reshuffle_button">Create Personalised Playlists</b>  

         <p class = "info_info">This feature uses songs from your playlists and to create a new playlist with a customisable, personalised sound</p>

    </a>
 


</body>
</div>

<div>
	<body>
    <a class = "intro_start_button2" href="/callback/qnewsongs"> <b class = "reshuffle_button">Discover New Artists</b> 

      <p class = "info_info">This feature makes a playlist with underground artists based on your current favourite artists</p>
 

    </a>
</body>
</div>

</body>
